<!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">
		<!-- wp:spacer {"height":"var:preset|spacing|50"} -->
		<div style="height:var(--wp--preset--spacing--50)" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->

    <!-- wp:post-title {"textAlign":"center","level":1} /-->

    <!-- wp:spacer {"height":"var:preset|spacing|30","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
		<div style="margin-top:0;margin-bottom:0;height:var(--wp--preset--spacing--30)" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->
	</div>
	<!-- /wp:group -->
	
	<!-- wp:post-content {"lock":{"move":false,"remove":true},"layout":{"type":"constrained"}} /-->
	
	<!-- wp:group {"layout":{"type":"constrained"},"metadata":{"name":"form contingut protegit swpm"}} -->
	<div class="wp-block-group constrained">
		<!-- wp:shortcode -->
		[swpm_protected for="3-4"]
		<!-- /wp:shortcode -->

		<!-- wp:acf/lliurament-form {"name":"acf/lliurament-form","mode":"preview"} /-->

		<!-- wp:shortcode -->
		[/swpm_protected]
		<!-- /wp:shortcode -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /-->
